body {
    background-color: black;
    color: red;
    text-align: center;
}

.board-container {
    margin: auto;
    border: solid beige;
    border-spacing: 4px;
    border-collapse: separate;
}

.cell {
    background-color: aqua;
    border: solid beige;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    
}
.smily{
    height: 100px;
    width: 100px;
    background: none;
    border-radius: 50%;
    font-size: 100px;
    text-align: center;
}
